<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Speak-EZ</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <section class="hero is-fullheight" id="homepage">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-centered">
                    <div class="column is-8 has-text-centered">
                        <h1 class="title">Speak-EZ</h1>
                        <p class="subtitle">Your local luxury dealer</p>
                        <div class="buttons is-centered">
                            {{#unless logged_in}}
                            <a href="/login" class="button is-link">Member Login</a>
                            <a href="/signup" class="button is-info">New User</a>
                            {{/unless}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-background">
            <div class="circle large"></div>
            <div class="circle medium"></div>
            <div class="circle small"></div>
        </div>
    </section>

    <script src="public\js\login.js"></script>
    
</body>
</html>
