<section class="hero is-success is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Welcome 2 Speak-EZ</h1>
      <div class="buttons">
        <a href="/login" class="button is-link is-rounded">Member Login</a>
        <a href="/register" class="button is-info is-large">
          <span class="icon">
            <i class="fas fa-user-plus"></i>
          </span>
          <span>New User</span>
        </a>
      </div>
    </div>
  </div>
</section>