<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Welcome 2 Speak-EZ</h1>
      <div class="buttons">
        <a href="/login" class="button is-link">Member Login</a>
        <a href="/register" class="button is-info">New User</a>
      </div>
    </div>
  </div>
</section>
