<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">Create an Account</h1>
      <div class="box">
        <form action="/register" method="POST">
          <div class="field">
            <label class="label">Username</label>
            <div class="control">
              <input class="input" type="text" name="username" required>
            </div>
          </div>
          <div class="field">
            <label class="label">Password</label>
            <div class="control">
              <input class="input" type="password" name="password" required>
            </div>
          </div>
          <button class="button is-link" type="submit">Register</button>
        </form>
      </div>
    </div>
  </div>
</section>
