<section class="section">
  <div class="container">
    <h1 class="title">Upcoming Services</h1>
    <div class="box">
      <ul>
        {{#each services}}
          <li>{{this.date}}: {{this.service}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>
